<% if current_user == @user %>
  <h1 align="center">Welcome, <%= @user.username %>!</h1>
  <h4 align="center">Here are your articles: </h4>
  <% else %>
  <h1 align="center">Showing articles by: </h1>
  <h4 align="center"><%= @user.username %></h4>
<% end %>

<div class="row" style="padding-bottom: 5px">
  <div class="col-md-4 offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>


<div class="row d-flex justify-content-center">
    <%= will_paginate @user_articles %>
</div>
<%=  render 'articles/article', obj: @user_articles %>
<div class="row d-flex justify-content-center">
    <%= will_paginate @user_articles %>
</div>
