<h1>About the Author</h1>
<h2>My name is Alex Castillo</h2>
<%= image_tag 'me.jpg',
alt: "alex-castillo",
width: "250",
height: "250"
%>
<p>
  I am a Full Stack Developer, and graduate from
  <%= link_to 'Wyncode Academy.', 'https://wyncode.co/', target: "blank" %>
</p>
<div>
  Some of my favorite programming languages are:
  <ul id="wrapper">
      <li class="language">
        <h3>Ruby</h3>
        <%= image_tag 'js.jpg',
        alt: "JavaScript",
        width: "250",
        height: "250"
        %>
      </li>
      <li class="language">
        <h3>JavaScript</h3>
        <%= image_tag 'ruby.jpg',
        alt: "Ruby",
        width: "250",
        height: "250"
        %>
      </li>
      <li class="language">
        <h3>Python</h3>
        <%= image_tag 'python.jpg',
        alt: "Python",
        width: "250",
        height: "250"
        %>
      </li>
  </ul>
</div>

<%= link_to 'Home', root_path %>
